.grid {
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;

}
img {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: block;
    object-position: center;
    object-fit: cover;
}
.blur-load {
    background-size: cover;
    background-position: center;
}
.blur-load.loaded > img {
    opacity: 1;
}
.blur-load > img {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}
.blur-load::before {
    content: "";
    position: absolute;
    inset: 0;
    animation: pulse 1.5s infinite;
  }
  .blur-load.loaded::before {
    content: none;
    animation: none;
  }



@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0.0);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
  }